name: Flutter Split APK Build

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Upgrade dependencies
        run: flutter pub upgrade

      - name: Apply Dart fixes
        run: dart fix --apply

      - name: Auto-commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: upgrade dependencies and apply dart fixes [skip ci]"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"

      - name: Analyze project
        run: flutter analyze
        continue-on-error: true 

      - name: Create .env file
        run: |
          cat <<EOF > .env
          API_TOKEN=${{ secrets.API_TOKEN }}
          API_KEY_WEATHERAPI=${{ secrets.API_KEY_WEATHERAPI }}
          API_KEY_OPENROUTER=${{ secrets.API_KEY_OPENROUTER }}
          EOF

      - name: Build Split APKs
        run: flutter build apk --release --split-per-abi
        
      - name: Rename APKs
        run: |
          VERSION_NAME=$(grep 'version:' pubspec.yaml | awk '{print $2}' | cut -d'+' -f1)
          mkdir release_apks

          for apk in build/app/outputs/flutter-apk/*-release.apk; do
            abi=$(basename "$apk" | sed -E 's/app-(.*)-release\.apk/\1/')
            cp "$apk" "release_apks/WeatherMaster.${VERSION_NAME}.${abi}.apk"
          done

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: release-apks
          path: release_apks/
